:root {
    --color-bg-primary: #ffffff;
    --color-bg-secondary: #f8f9fa;
    --color-text-primary: #333;
    --color-text-secondary: #555;
    --color-accent: #873bda;
    --color-accent-hover: #B39DDB;
  }
  